.header {
    height: 80vh;
    background-image: url(../../assert/heade-bg.jpg);
    background-color: rgba(52, 52, 52, 0.5); 
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerContainer {
    text-align: center;
    color: #fff;
}
.headerContainer h1 {
    border: 2px solid #fff;
    border-radius: 60px;
    padding: 15px 20px;
    font-size: 5rem;
    margin-bottom: 40px;
}
.btn1, .btn2 {
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-weight: 500;
}
.btn1:hover, .btn2:hover {
    padding-right: 35px;
    transition: ease-in 0.3s;
}
.btn2 {
    background-color: #F5614D;
    margin-left: 10px;
    color: #fff !important;
}
@media screen and (max-width: 998px) {
    .headerContainer h1 {
        padding: 0;
        border: none;
    }
}
@media screen and (max-width: 598px) {
    .headerContainer h1 {
        font-size: 48px;
    }
}